div.top-title{
	margin: 20px 0 0 0;
	font: 40px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;;
}

article{
	margin-bottom: 30px;
}
video{
	width: 80%;
	margin-bottom: 30px;
}

.col-padding{
	padding: 0 50px;
}
.main-footer{
	color:#999;
	clear:both;
}
.main-footer .copyright{
	padding:20px 15px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	display: block;
}

#login_container{
	width: 40%;
	margin:0 auto;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}